<div class="auth" style="background: #cccccc; padding: 25px;">
    This is auth module base component template
    <br/>
    ---------------------------------------
    <br/>
    <a routerLink="/auth/login">LogIn</a>
    <a routerLink="/">Home</a>
    <router-outlet></router-outlet>
</div>