@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, sass/_base.scss */
.app {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  padding: 0;
}

/* line 2, sass/_nav.scss */
nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  height: 70px;
  background: #f8f8f8;
  border-bottom: 1px solid #cccccc;
}
/* line 7, sass/_nav.scss */
nav .app-nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: block;
  float: left;
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  list-style: none;
  font-family: 'Oswald', sans-serif;
}
/* line 16, sass/_nav.scss */
nav .app-nav li {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5.26316%;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 23, sass/_nav.scss */
nav .app-nav li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5.26316%;
  display: block;
  height: 39px;
  background: #ffffff;
  border-right: 1px solid #cccccc;
  padding: 11px 0 0 0;
  font-weight: 300;
  text-decoration: none;
  color: #555555;
  width: 90px;
  text-align: center;
  position: relative;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 38, sass/_nav.scss */
nav .app-nav li a:hover {
  color: #27548d;
  background: #f8f8f8;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 44, sass/_nav.scss */
nav .app-nav li a.active {
  color: #0872ef;
  font-weight: normal;
  background: #f8f8f8;
}
/* line 48, sass/_nav.scss */
nav .app-nav li a.active:after {
  content: '';
  display: block;
  background: url("../img/nav-arrow.png");
  width: 14px;
  height: 9px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  margin: 0 0 0 -7px;
  z-index: 1;
}
/* line 64, sass/_nav.scss */
nav .app-auth-nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5.26316%;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: 'Oswald', sans-serif;
  padding: 11px 0 0 0;
  margin: 0;
  width: 300px;
}
/* line 74, sass/_nav.scss */
nav .app-auth-nav li {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5.26316%;
  list-style: none;
  float: right;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
/* line 83, sass/_nav.scss */
nav .app-auth-nav li:last-child a {
  border-right: 1px solid #555555;
}
/* line 87, sass/_nav.scss */
nav .app-auth-nav li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5.26316%;
  display: block;
  padding: 0 15px;
  white-space: nowrap;
  font-weight: 300;
  color: #555555;
  text-decoration: none;
  margin: 0;
}
/* line 96, sass/_nav.scss */
nav .app-auth-nav li a:hover {
  color: #27548d;
}
