@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "susy";

$padding-block: 15px;

.app {  
    @include span(100%); 
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    padding: 0;
}