
nav {  
    @include span(100% border-box); 
    height: 70px;
    background: #f8f8f8;
    border-bottom: 1px solid #cccccc;
    .app-nav {  
        @include span( 100% border-box );
        display: block;
        float: left;
        height: 40px;
        background: #ffffff;
        border-bottom: 1px solid #cccccc;
        list-style: none;
        font-family: 'Oswald', sans-serif;
        li{
            float: left;
            @include span( border-box ); 
            display: block;
            list-style: none;
            padding: 0;
            margin: 0;
            a{
                @include span( border-box ); 
                display: block;
                height: 39px;
                background: #ffffff;
                border-right: 1px solid #cccccc;
                padding: 11px 0 0 0;
                font-weight: 300;
                text-decoration: none;
                color: #555555;
                width: 90px;
                text-align: center;
                position: relative;
                @include transition-duration(.3s);
                @include transition-timing-function(ease);
                &:hover{
                    color: #27548d;
                    background: #f8f8f8;
                    @include transition-duration(.3s);
                    @include transition-timing-function(ease);
                }
                &.active{
                    color: #0872ef;
                    font-weight: normal;
                    background: #f8f8f8;
                    &:after {
                        content: ''; 
                        display: block;
                        background: url('../img/nav-arrow.png');
                        width: 14px;
                        height: 9px;
                        position: absolute;
                        left: 50%; 
                        bottom: -7px;
                        margin: 0 0 0 -7px;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .app-auth-nav{
        @include span( border-box ); 
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        font-family: 'Oswald', sans-serif;
        padding: 11px 0 0 0;
        margin: 0;
        width: 300px;
        li{
            display: block;
            @include span( border-box );
            list-style: none;
            float: right;
            white-space: nowrap;
            padding:0;
            margin: 0;
            &:last-child{
                a{
                    border-right: 1px solid #555555;
                }
            }
            a{
                @include span( border-box ); 
                display: block;
                padding: 0 15px;
                white-space: nowrap;
                font-weight: 300;
                color: #555555;
                text-decoration: none;
                margin: 0;
                &:hover{
                    color: #27548d; 
                }
            }
        }
    }
}