<div class="app">
    <nav>
        <ul class="app-nav">
            <li>
                <a routerLink="/">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Companies
                </a>
            </li>
            <li>
                <a href="#">
                    Jobs
                </a>
            </li>
            <li>
                <a class="active" href="#">
                    Ads
                </a>
            </li>
            <li>
                <a href="#">
                    Post Add
                </a>
            </li>
        </ul>
        
        <ul class="app-auth-nav">
            <li>
                <a routerLink="/auth/" alt="Register!">
                    Register
                </a>
            </li>
            <li>
                <a routerLink="/auth/" alt="Sign In!">
                    Sign In
                </a>
            </li>
        </ul>
        
    </nav>
    
    
    
    
   
    <router-outlet></router-outlet>
</div>